body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    width: 200px;
    height: 200px;
}
.earth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(17, 104, 255);
    box-shadow: 1px 2px 20px 10px rgb(17, 104, 255);
    border-radius: 50%;
    border: 1px solid rgb(5, 70, 182); 
    width: 100px;
    height: 100px;
}
.orbit{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    animation: orbit 5s linear infinite;
}
.moon{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    background-color: rgb(195, 197, 205);
    box-shadow: 1px 2px 20px 5px rgb(236, 238, 242);
    border: 1px solid rgb(168, 169, 171);
    border-radius: 50%;
    
}
@keyframes orbit{
    0%{
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100%{
        transform: rotate(360deg) translate(-50%, -50%);
    }
}